<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.lifepoem.manager.mapper.LpGroupRecordMapper">

    <resultMap id="BaseResultMap" type="fun.lifepoem.manager.domain.LpGroupRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,group_name,parent_id,
        status
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from lp_group_record
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from lp_group_record
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="fun.lifepoem.manager.domain.LpGroupRecord" useGeneratedKeys="true">
        insert into lp_group_record
        ( id,group_name,parent_id
        ,status)
        values (#{id,jdbcType=INTEGER},#{groupName,jdbcType=VARCHAR},#{parentId,jdbcType=INTEGER}
        ,#{status,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="fun.lifepoem.manager.domain.LpGroupRecord" useGeneratedKeys="true">
        insert into lp_group_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="groupName != null">group_name,</if>
                <if test="parentId != null">parent_id,</if>
                <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">id = #{id,jdbcType=INTEGER},</if>
                <if test="groupName != null">group_name = #{groupName,jdbcType=VARCHAR},</if>
                <if test="parentId != null">parent_id = #{parentId,jdbcType=INTEGER},</if>
                <if test="status != null">status = #{status,jdbcType=BIT},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="fun.lifepoem.manager.domain.LpGroupRecord">
        update lp_group_record
        <set>
                <if test="groupName != null">
                    group_name = #{groupName,jdbcType=VARCHAR},
                </if>
                <if test="parentId != null">
                    parent_id = #{parentId,jdbcType=INTEGER},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=BIT},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="fun.lifepoem.manager.domain.LpGroupRecord">
        update lp_group_record
        set 
            group_name =  #{groupName,jdbcType=VARCHAR},
            parent_id =  #{parentId,jdbcType=INTEGER},
            status =  #{status,jdbcType=BIT}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
