<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.lifepoem.manager.mapper.LpShareRecordMapper">

    <resultMap id="BaseResultMap" type="fun.lifepoem.manager.domain.LpShareRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="fileId" column="file_id" jdbcType="INTEGER"/>
            <result property="shareKey" column="share_key" jdbcType="VARCHAR"/>
            <result property="shareLink" column="share_link" jdbcType="VARCHAR"/>
            <result property="expiryDt" column="expiry_dt" jdbcType="TIMESTAMP"/>
            <result property="expiryStatus" column="expiry_status" jdbcType="BIT"/>
            <result property="createDt" column="create_dt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,file_id,
        share_key,share_link,expiry_dt,
        expiry_status,create_dt
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from lp_share_record
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from lp_share_record
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="fun.lifepoem.manager.domain.LpShareRecord" useGeneratedKeys="true">
        insert into lp_share_record
        ( id,user_id,file_id
        ,share_key,share_link,expiry_dt
        ,expiry_status,create_dt)
        values (#{id,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{fileId,jdbcType=INTEGER}
        ,#{shareKey,jdbcType=VARCHAR},#{shareLink,jdbcType=VARCHAR},#{expiryDt,jdbcType=TIMESTAMP}
        ,#{expiryStatus,jdbcType=BIT},#{createDt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="fun.lifepoem.manager.domain.LpShareRecord" useGeneratedKeys="true">
        insert into lp_share_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userId != null">user_id,</if>
                <if test="fileId != null">file_id,</if>
                <if test="shareKey != null">share_key,</if>
                <if test="shareLink != null">share_link,</if>
                <if test="expiryDt != null">expiry_dt,</if>
                <if test="expiryStatus != null">expiry_status,</if>
                <if test="createDt != null">create_dt,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">id = #{id,jdbcType=INTEGER},</if>
                <if test="userId != null">user_id = #{userId,jdbcType=INTEGER},</if>
                <if test="fileId != null">file_id = #{fileId,jdbcType=INTEGER},</if>
                <if test="shareKey != null">share_key = #{shareKey,jdbcType=VARCHAR},</if>
                <if test="shareLink != null">share_link = #{shareLink,jdbcType=VARCHAR},</if>
                <if test="expiryDt != null">expiry_dt = #{expiryDt,jdbcType=TIMESTAMP},</if>
                <if test="expiryStatus != null">expiry_status = #{expiryStatus,jdbcType=BIT},</if>
                <if test="createDt != null">create_dt = #{createDt,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="fun.lifepoem.manager.domain.LpShareRecord">
        update lp_share_record
        <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=INTEGER},
                </if>
                <if test="fileId != null">
                    file_id = #{fileId,jdbcType=INTEGER},
                </if>
                <if test="shareKey != null">
                    share_key = #{shareKey,jdbcType=VARCHAR},
                </if>
                <if test="shareLink != null">
                    share_link = #{shareLink,jdbcType=VARCHAR},
                </if>
                <if test="expiryDt != null">
                    expiry_dt = #{expiryDt,jdbcType=TIMESTAMP},
                </if>
                <if test="expiryStatus != null">
                    expiry_status = #{expiryStatus,jdbcType=BIT},
                </if>
                <if test="createDt != null">
                    create_dt = #{createDt,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="fun.lifepoem.manager.domain.LpShareRecord">
        update lp_share_record
        set 
            user_id =  #{userId,jdbcType=INTEGER},
            file_id =  #{fileId,jdbcType=INTEGER},
            share_key =  #{shareKey,jdbcType=VARCHAR},
            share_link =  #{shareLink,jdbcType=VARCHAR},
            expiry_dt =  #{expiryDt,jdbcType=TIMESTAMP},
            expiry_status =  #{expiryStatus,jdbcType=BIT},
            create_dt =  #{createDt,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
