<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.lifepoem.manager.mapper.LpUserFileMapper">

    <resultMap id="BaseResultMap" type="fun.lifepoem.manager.domain.LpUserFile">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <id property="fileId" column="file_id" jdbcType="INTEGER"/>
            <result property="uploadDt" column="upload_dt" jdbcType="TIMESTAMP"/>
            <result property="groupId" column="group_id" jdbcType="INTEGER"/>
            <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
            <result property="shareCount" column="share_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,file_id,upload_dt,
        group_id,group_name,share_count
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from lp_user_file
        where  user_id = #{userId,jdbcType=INTEGER} AND file_id = #{fileId,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from lp_user_file
        where  user_id = #{userId,jdbcType=INTEGER} AND file_id = #{fileId,jdbcType=INTEGER} 
    </delete>
    <insert id="insert">
        insert into lp_user_file
        ( user_id,file_id,upload_dt
        ,group_id,group_name,share_count
        )
        values (#{userId,jdbcType=INTEGER},#{fileId,jdbcType=INTEGER},#{uploadDt,jdbcType=TIMESTAMP}
        ,#{groupId,jdbcType=INTEGER},#{groupName,jdbcType=VARCHAR},#{shareCount,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective">
        insert into lp_user_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userId != null">user_id,</if>
                <if test="fileId != null">file_id,</if>
                <if test="uploadDt != null">upload_dt,</if>
                <if test="groupId != null">group_id,</if>
                <if test="groupName != null">group_name,</if>
                <if test="shareCount != null">share_count,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="userId != null">user_id = #{userId,jdbcType=INTEGER},</if>
                <if test="fileId != null">file_id = #{fileId,jdbcType=INTEGER},</if>
                <if test="uploadDt != null">upload_dt = #{uploadDt,jdbcType=TIMESTAMP},</if>
                <if test="groupId != null">group_id = #{groupId,jdbcType=INTEGER},</if>
                <if test="groupName != null">group_name = #{groupName,jdbcType=VARCHAR},</if>
                <if test="shareCount != null">share_count = #{shareCount,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="fun.lifepoem.manager.domain.LpUserFile">
        update lp_user_file
        <set>
                <if test="uploadDt != null">
                    upload_dt = #{uploadDt,jdbcType=TIMESTAMP},
                </if>
                <if test="groupId != null">
                    group_id = #{groupId,jdbcType=INTEGER},
                </if>
                <if test="groupName != null">
                    group_name = #{groupName,jdbcType=VARCHAR},
                </if>
                <if test="shareCount != null">
                    share_count = #{shareCount,jdbcType=INTEGER},
                </if>
        </set>
        where   user_id = #{userId,jdbcType=INTEGER} AND file_id = #{fileId,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="fun.lifepoem.manager.domain.LpUserFile">
        update lp_user_file
        set 
            upload_dt =  #{uploadDt,jdbcType=TIMESTAMP},
            group_id =  #{groupId,jdbcType=INTEGER},
            group_name =  #{groupName,jdbcType=VARCHAR},
            share_count =  #{shareCount,jdbcType=INTEGER}
        where   user_id = #{userId,jdbcType=INTEGER} AND file_id = #{fileId,jdbcType=INTEGER} 
    </update>
</mapper>
